:root {
    --primary-color: #635bff;
    --button-color: #5dc9e2;
    --button-background-color: #635bff;
    --default-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--default-font-family);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.main-text {
    color: var(--primary-color);
    font-size: 72px;
}

.principal-flashcard {

}

.button-primary {
    color: var(--button-color);
    border: 0.0625rem solid #00add8;
    background-color: var(--button-background-color);
}
